<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>layout</title>
		<link rel="stylesheet" type="text/css" href="estilos.css">

	</head>
	<body>

		<div class="menu" id="capa1">
			<ul class="lista">
				<li>Blog</li>
				<li>Contacto</li>
				<li>Sevicios</li>
				<li>Descargas</li>
			</ul>
		</div>

		<div class="formulas" id="capa2">
			<ul class="despliegue">
				<li>ajo</li>
				<li>arroz</li>
				<li>cebolla</li>
				<li>aceite</li>
			</ul>
		</div>

	</body>
</html>

